<div class="sport-data-container">
  <div class="sport-data-header">
    Edit Selected Sport Data
  </div>
<div class="sport-data-form">
  <div class="sport-data-inputs">
    <form [formGroup]="clothesForm" (ngSubmit)="onSubmit()">
    <div class="sport-data-body">
      <div class="form-input">
        <label for="product"><b>Product Name </b></label>
        <input type="text" formControlName="product" placeholder="Enter Product Name" name="product" required>
      </div>
      <div class="form-input">
        <label for="productMaterial"><b>Product Material </b></label>
        <input type="text" formControlName="productMaterial" placeholder="Enter Product Material" name="productMaterial" required>
      </div>
      <div class="btn-input">
      <button type="submit">Submit</button>
      <button type="button" (click)="redirectToHome()" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
  </div>
</div>

</div>
